<!DOCTYPE html>
<html>
    <!-- Opening <html> tag -->
    <head>
        <title>Recipe Details</title>
    </head>
    <body>
        <h2>Details: {{ object.recipe_name }}</h2>

        <img src="{{ object.pic.url }}" width="300" height="300" /><br />
        <!-- Corrected <br> tag -->

        <div>
            <b>Recipe: </b> {{ object.recipe_name }}<br />
            <!-- Corrected <br> tag -->
            <b>Ingredients: </b> {{ object.ingredients }}<br />
            <!-- Corrected <br> tag -->
            <b>Description: </b> {{ object.description }}<br />
            <!-- Corrected <br> tag -->
            <b>Cooking Time: </b> {{ object.cooking_time }} minutes<br />
            <!-- Corrected <br> tag -->
        </div>
        <br /><br />
        <a
            href="{% url 'logout' %}"
            style="margin-right: 180px; margin-left: 10px"
        >
            Logout
        </a>
        <a href="{% url 'recipes:recipe_search' %}" style="margin-right: 180px">
            Search Recipes
        </a>
        <a href="{% url 'recipes:recipes_list' %}"> View All </a><br /><br />
    </body>
</html>
