{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Recipes List</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <h1>Recipes' List</h1>

        <div class="links-container">
            <a href="{% url 'recipes:recipe_search' %}">Search Recipes</a>
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
        </div>

        <table
            class="centered-table"
            border="1"
            cellpadding="5"
            cellspacing="5"
        >
            <tr>
                <th>Recipes' Titles</th>
                <th>Recipes' Images</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'recipes:detail' pk=object.pk %}"
                        >{{ object.recipe_name }}</a
                    >
                </td>
                <td>
                    <img src="{{ object.pic.url }}" width="300" height="200" />
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
