<!DOCTYPE html>
<html>
    <head>
        <title>Recipes List</title>
    </head>
    <body>
        <h1>Recipes' List</h1>
        <a href="/" class="back-link">Back to Home</a><br /><br />

        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <th>Recipes' Titles</th>
                <th>Recipes' Images</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'recipes:detail' pk=object.pk %}"
                        >{{ object.recipe_name }}</a
                    >
                </td>
                <td>
                    <img src="{{ object.pic.url }}" width="300" height="200" />
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
