h1 {
    color: blue;
    text-align: center;
}

.logout-link {
    float: right;
    margin-right: 10px;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
}
